/* ---------- Variables ---------- */
$ff-golos: "Golos Text", sans-serif;
$ff-merriweather: "Merriweather", serif;

$color-text-primary: #313131;
$color-text-accent: #F54932;
$color-text-note: #3057A2;
$color-button-primary: #1F1F1F;
$color-button-secondary: #FBCE51;

/* ---------- Reset styles ---------- */

/* Links */

a {
    color: #000;

    &,
    &:link,
    &:visited,
    &:hover {
        text-decoration: none;
    }
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $ff-merriweather;
}

ul {

    &,
    & li {
        list-style: none;
    }
}

img {
    vertical-align: top;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    font-family: sans-serif;
}

input::-ms-clear {
    display: none;
}

button,
input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

/* ---------- Global styles ---------- */

* {
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;

    &::before,
    &::after {
        box-sizing: border-box;
    }
}

html {
    overflow-x: hidden;
    font-size: 10px;
}

body {
    overflow-x: hidden;
    font-family: $ff-golos;
    color: $color-text-primary;
}

.container {
    width: 100%;
    max-width: 1252px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    font-family: $ff-merriweather;
    color: $color-text-primary;
    font-weight: 400;
    font-size: 6rem;
    line-height: 110%;
    text-transform: uppercase;
}

/* ---------- Header styles ---------- */

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 26px 0;

    &-logotype {
        display: flex;
        align-items: center;
        gap: 6px;

        &__image {
            max-width: 92px;
        }

        &__title {
            font-family: var(--ff-golos);
            color: #595653;
            font-size: 1.6rem;
            line-height: 108%;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
}


/* ---------- Hero styles ---------- */

.hero {
    padding: 110px 0 132px 0;
    background: url('../img/hero-background.jpg') no-repeat center center / cover;

    &__title {
        &--center {
            text-align: center;
            display: block;
        }

        &--right {
            text-align: right;
            display: block;
        }
    }

    &-inner {
        max-width: 542px;
    }

    &__description {
        margin: 24px 0 40px 0;
        line-height: 130%;
        font-size: 1.8rem;
        text-align: center;
    }

    &-buttons {
        display: flex;
        align-items: center;
        gap: 16px;

        &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid $color-button-primary;
            width: 100%;
            max-width: 263px;
            height: 72px;
            border-radius: 66px;
            font-weight: 500;
            padding: 0 49px;
            text-align: center;
            font-size: 1.6rem;
            line-height: 130%;
            transition: .3s;

            &:hover {
                background-color: $color-button-primary;
                color: #fff;
            }

            &--dark {
                background-color: $color-button-primary;
                color: #fff;

                &:hover {
                    background-color: $color-button-secondary;
                    border: 2px solid $color-button-secondary;
                    color: $color-button-primary;
                }
            }
        }
    }
}


/* ---------- Running line styles ---------- */

.running-line {
    display: flex;
    gap: 30px;
    padding: 18px 0;
    background-color: $color-text-accent;

    &__item {
        font-family: $ff-merriweather;
        font-size: 2.2rem;
        color: #fff;
        line-height: 110%;
        flex-shrink: 0;
    }
}


/* ---------- Tournament styles ---------- */

.tournament {
    padding: 100px 0;

    &-header {
        display: grid;
        gap: 64px;
        grid-template-columns: 1fr 394px;
        align-items: center;
        margin-bottom: 64px;

        &__title {
            font-family: $ff-merriweather;
            font-size: 3.6rem;
            line-height: 135%;
            text-transform: uppercase;

            & span {
                font-weight: bold;
                color: $color-text-accent;
            }
        }
    }

    &-info {
        &__title {
            font-family: $ff-merriweather;
            font-size: 3.6rem;
            line-height: 135%;
            text-transform: uppercase;
            margin-bottom: 60px;

            & span {
                font-weight: bold;
                color: $color-text-accent;
            }
        }

        &-table {
            width: 100%;

            & td {
                border-bottom: 1px solid #D0D0D0;
                padding: 16px 16px 16px 0;
                font-size: 2rem;
                opacity: .7;
                line-height: 120%;
            }

            & tr {
                &:last-child {
                    & td {
                        border: 0;
                    }
                }

                & td {
                    &:last-child {
                        font-weight: 600;
                        opacity: 1;
                        padding-left: 16px;
                    }

                    &:first-child {
                        border-right: 1px solid #D0D0D0;
                    }
                }
            }
        }

        &__note {
            margin-top: 32px;
            line-height: 120%;
            font-size: 2rem;
            color: $color-text-note;
        }
    }

    &-body {
        display: grid;
        grid-template-columns: 500px 1fr;
        gap: 20px;
    }
}


/* ---------- Stage styles ---------- */

.stage {
    padding: 100px 0;

    & .container {
        position: relative;
    }

    &__image {
        position: absolute;
        right: -40px;
        bottom: 0;
        width: 100%;
        max-width: 376px;
    }

    &-header {
        position: relative;
        margin-bottom: 54px;

        &__subtitle {
            position: absolute;
            bottom: 10px;
            left: 320px;
            font-size: 2rem;
            line-height: 120%;
            color: $color-text-note;
        }
    }

    &-cards {
        counter-reset: stage-counter;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        &__item {
            padding: 20px;
            display: flex;
            gap: 16px;
            font-weight: 500;
            font-size: 2rem;
            line-height: 120%;
            background: url('../img/stage-item-bg-light.png') no-repeat center center / cover;

            &:before {
                content: counter(stage-counter);
                counter-increment: stage-counter;
                width: 36px;
                height: 36px;
                color: var(--color-text-primary);
                background-color: #fff;
                border-radius: 100px;
                font-family: var(--ff-golos);
                font-size: 2rem;
                line-height: 120%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
            }

            &:nth-child(3) {
                grid-row-end: span 2;
                background: url('../img/stage-item-bg-light--big.png') no-repeat center center / cover;
            }

            :nth-child(6) {
                background: url('../img/stage-item-bg-dark.png') no-repeat center center / cover;
            }

            &:nth-child(7) {
                grid-column-end: span 2;
                background: url('../img/stage-item-bg-dark--long.png') no-repeat center center / cover;
                padding-right: 310px;
            }
        }
    }
}